@import "extends";
@import "variables";
.question {
  @extend .flex-center;
  flex-direction: column;
  height: 100vh;
  gap: 30px;
  &__question-content {
    font-size: 2rem;
    line-height: 110%;
    text-align: center;
    width: 80%;
  }
  &__answers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
  }
  &__button-answer {
    margin: 10px;
    padding: 30px;
    &--active {
      border: 2px solid $color-active;
    }
  }

  //   &__button-container {
  //   }
  //   &__next-button {
  //   }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .question {
    &__answers {
      flex-direction: column;
    }
  }
}
