@import "extends";
@import "variables";
.question {
  @extend .flex-center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow: hidden;
  gap: 30px;

  &__index {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    font-weight: 700;
  }

  &__question-content {
    font-size: 2rem;
    line-height: 110%;
    text-align: center;
    width: 80%;
  }
  &__answers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
  }
  &__button-answer {
    margin: 10px;
    padding: 30px;
    &--active {
      border: 2px solid $color-active;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .question {
    &__answers {
      flex-direction: column;
    }
  }
}
