$font-size-basic: 16px;

$color-font-black: black;
$color-font-white: white;
$color-font-gray: rgb(226, 207, 207);
$color-active: red;

$grid-breakpoints: (
  xxs: 0,
  xs: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
