@import "_extends";
.quiz-form {
  @extend .flex-center;
  height: 100%;
  overflow: hidden;
  &__form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 15px 25px;
  }
}
